# Dependency directories
node_modules/

# Build outputs (Arquivos gerados pelo TypeScript)
dist/
build/

# Environment variables (SEGREDOS - Nunca suba isso!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Docker
# Ignora o volume de dados do banco se você mapear para uma pasta local
pgdata/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# Optional: TypeScript incremental build cache
*.tsbuildinfo